@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&family=Lora:wght@700&family=Montserrat:wght@700&display=swap");

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

/* RESET */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */

body {
  width: 80vw;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #333;
  background-color: rgb(218, 214, 214);
}

/* Header */

.container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 8vh;
  margin-top: 1vh;
  display: flex;
  justify-content: start;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 0.7rem;
}

nav ul li a:hover {
  color: #a4a4a4;
}

/* Main */

/* Reception */

.reception {
  height: 90vh;
}

.reception-img {
  width: 100%;
  position: relative;
  top: 20vh;
}

.reception-content {
  position: absolute;
  left: 15vw;
  top: 40vh;
  width: 35vw;
  z-index: 999;
}

h1 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

h1 span {
  color: #2da5bd;
}

.reception-content p {
  margin: 1rem 0;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  color: #fff;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #2da5bd;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #5e5e5e;
}

/* Services */

.services {
  height: 100vh;
  border: #2da5bd solid 1px;
}

.services-content {
  position: relative;
}

h2 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  padding-top: 8vh;
  border: #333 solid 1px;
}

.services-def {
  width: 60vw;
  margin: 5vh auto;
  font-family: "Lora", serif;
  font-size: 0.8rem;
  color: #333;
  text-align: center;
}
